.btn {
  background-color: color('orange');
  padding: 14px 30px;
  border-radius: 4px;
  color: color('white');
  font-size: 15px;
  text-transform: uppercase;
  width: 100%;
  display: block;
  text-align: center;
}

.btn--outline {
  border: 2px solid white;
  background: none;

  &.btn--active {
    background-color: white;
    color: color('bluedark');
  }
}

.btn--sm {
  padding: 10px 0;
  font-size: 14px;
}

@include min-screen(mq('desktop')) {
  .btn {
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 15px;
    width: auto;
    display: inline-block;
  }

  .btn--sm {
    padding: 10px 0;
    font-size: 12px;
  }
}
