.footer-container {
  background-color: color('greenmoss');
  padding: 30px 80px 30px 10px;
  color: color('white');
}

.footer-title {
  margin-bottom: 30px;
}

.footer-title--green {
  color: color('green');
  font-family: $Raleway;
  font-weight: 900;
}

.footer-title--orange {
  color: color('orange');
  font-family: $Raleway;
  font-weight: 900;
}

.footer-text {
  font-size: 18px;
  margin-bottom: 30px;
}

.footer-contact {
  text-align: center;
  padding: 20px;
}

.footer-contact-title {
  font-size: 18px;
  font-family: $Bitter;
}

.footer-contact-phone {
  font-size: 20px;
  font-family: $Bitter;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.footer-contact-creci {
  font-size: 12px;
}

@include min-screen(mq('desktop')) {
  .footer-container {
    padding: 55px 120px;
  }

  .footer-content {
    max-width: 655px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-title {
    margin-bottom: 0;
    line-height: 47px;
  }
}
