.input-range {
  margin: 5px 7px;
  width: calc(100% - 15px);
}

.input-range__track--background {
  background-color: rgba(color('orange'), 0.38);
}

.input-range__track--active,
.input-range__slider {
  background-color: color('orange');
  border-color: color('orange');
}

.input-range__label,
.input-range__label--min,
.input-range__label--max {
  display: none;
}
