.home-banner {
  margin-bottom: 20px;
}

.home-banner-item {
  width: 100%;
}

.home-banner-item__image {
  width: 100%;
}

@include min-screen(mq('desktop')) {
  .home-banner {
    margin-bottom: 10px;
  }
}
