body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: color('bluedark');
  font-family: 'Raleway', sans-serif;
}

a {
  transition: all 300ms ease;
  color: color('bluedark');
}

p,
li {
  line-height: 1.3em;
}

img {
  display: block;
}

input {
  outline: none;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
}

@include min-screen(mq('desktop')) {
  html,
  body,
  .main {
    height: 100%;
  }

  .main {
    display: flex;
  }

  .wrapper {
    flex: 1 1 auto;
    background-color: azure;
  }
}
